<template name="Header">
  <div class="ui top fixed borderless inverted menu">
    <div class="ui container">
      <a class="item" href="{{pathFor 'Landing_Page'}}"><h1 class="ui green header">Manoa Flea Market</h1></a>
      <a class="item" href="{{pathFor 'Login_Page'}}"><p>Login</p></a>
      <a class="item" href="{{pathFor 'User_Profile_Page'}}"><p>User Profile</p></a>
      <a class="item" href="{{pathFor 'Category_Page'}}">
        <div style="margin: 0px; padding: 0px" class="ui dropdown item">
          <div class="text">Categories</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">Textbooks</div>
            <div class="item">Furniture</div>
            <div class="item">Appliances</div>
          </div>
        </div>
      </a>
      <a class="item" href="{{pathFor 'List_Item_Page'}}"><p>List Item</p></a>
      <a class="item" href="{{pathFor 'Create_Item_Page'}}"><p>Create Item</p></a>
    </div>
  </div>
</template>